<div class="info">
<br/>
<input name="Text" type="text" class="form-control animated fadeInDown" placeholder="Search the name" [(ngModel)]="searchText" >
<br/>
<br/>

<div class="container-fluid animated fadeInRight" >
  <table class="table table-striped table-info" >
      <thead>
          <tr class="table-info">
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Username</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let data of httpdata | filter: 'name' :searchText | paginate: config">
              <th scope=" row">{{data.id}}</th>
              <td>{{data.name}}</td>
              <td>{{data.username}}</td>
          </tr>

      </tbody>
</table>
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
 
</div>
</div>