<html>
  <head>
    <script>
      
      function allowDrop(ev) { 
                ev.preventDefault(); 
            } 
              
      function dragStart(ev) { 
                ev.dataTransfer.setData("text", ev.target.id); 
            } 
              
            function dragDrop(ev) { 
              console.log(ev);
                ev.preventDefault(); 
                var data = ev.dataTransfer.getData("text"); 
                ev.target.appendChild(document.getElementById(data)); 
            } 
    </script>
  </head>
  <body class=" animated fadeInRight">


<div class="imgDrag">
  <div class="row"> 
    <div class="col-sm-6 draggable">
      <!-- <img src="https://images.unsplash.com/photo-1562101490-3eb820dc4319?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" width=300 draggable="true" (dragstart)="dragStart($event)" id="img1"> -->
      <img 
      src="https://images.unsplash.com/photo-1562101490-3eb820dc4319?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
      draggable="true" 
      (dragstart)="drag($event)" 
      width=300
      id="drag1">
    </div>
    <div class="col-sm-6 draggable">
      <!-- <img src="https://images.unsplash.com/photo-1562619398-e7a474328df3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" width=300 draggable="true" (dragstart)="dragStart($event)" id="img2"> -->
      <img 
      src="https://images.unsplash.com/photo-1562619398-e7a474328df3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
      draggable="true" 
      (dragstart)="drag($event)" 
      width=300
      id="drag2">
    </div>
  </div>
</div>


<div class="container imgDrop">
  <div class="row">
    <div class="col-sm-6 " style="background-color:#4d4d4d; color:white; border-radius:15px;">
      <div class="card imgArea" style="width:400px" (drop)="drop($event)" 
  (dragover)="allowDrop($event)">
        
        <div class="card-body">
          <h4 class="card-title">Upload Image Here</h4>
          <p class="card-text">Some example text.</p>
          
        </div>
      </div>
    </div>
    <div class="col-sm-6 " style="background-color:#33adff; border-radius:15px;">
      <div class="card imgArea" style="width:400px" (drop)="drop($event)" 
  (dragover)="allowDrop($event)">
        
        <div class="card-body">
          <h4 class="card-title">Upload Image Here</h4>
          <p class="card-text">Some example text.</p>
          
        </div>
      </div>   
    </div>
  </div>
  
  
</div>
  </body>
</html>
