<html>
  <head>
    <script>
      function allowDrop(ev) { 
                ev.preventDefault(); 
            } 
              
            function dragStart(ev) { 
                ev.dataTransfer.setData("text", ev.target.id); 
            } 
              
            function dragDrop(ev) { 
                ev.preventDefault(); 
                var data = ev.dataTransfer.getData("text"); 
                ev.target.appendChild(document.getElementById(data)); 
            } 
    </script>
  </head>
<div class=" imgDrag">
  <div class="row"> 
    <div class="col-sm-6 draggable">
      <img src="https://images.unsplash.com/photo-1562101490-3eb820dc4319?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" width=300 draggable="true" ondragstart="dragStart(event)">
    </div>
    <div class="col-sm-6 draggable">
      <img src="https://images.unsplash.com/photo-1562101490-3eb820dc4319?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" width=300 draggable="true" ondragstart="dragStart(event)">
    </div>
  </div>
</div>
<div class="container imgDrop">
  <div class="row">
    <div class="col-sm-6 " >
      <div class="card imgArea" style="width:400px" ondrop="dragDrop(event)" ondragover="allowDrop(event)">
        
        <div class="card-body">
          <h4 class="card-title">Upload Image Here</h4>
          <p class="card-text">Some example text.</p>
          
        </div>
      </div>
    </div>
    <div class="col-sm-6 " style="background-color:pink;">
      <div class="card imgArea" style="width:400px" ondrop="dragDrop(event)" ondragover="allowDrop(event)">
        
        <div class="card-body">
          <h4 class="card-title">Upload Image Here</h4>
          <p class="card-text">Some example text.</p>
          
        </div>
      </div>   
    </div>
  </div>
  
  
</div>
</html>
