.imgDrop{
  margin-left: 25%;
  margin-top: 10%;
  position: fixed;
  width: 75%;
  height:30%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  
}
.imgDrag{
  margin-top: 3%;
  margin: 20px;
  
  margin-left: 25%;
  position: relative;
  display:flex;
  width: 75%;
  height:30%;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  
}
.imgArea{
  display:flex;
  height: 250px;
  justify-content: center;
  align-items: center;
  
}
.draggable{
  display:block;
  width: 300px;
}


