html{
  overflow-y: scroll;
}
p {
  font-family: Lato;
}
div{
  display:flex;
}
app-sidebar{
  width:25%;
   background-color:#4d4d4d; 
    background-image: linear-gradient(to bottom,#4d4d4d, #4d4d4d, #33adff); 
    color:white;
     z-index: 2;
      position:fixed; 
      height:100vh;
}

