<div class="container-fluid sideBar">
  <div class="col-lg">
    <div class="row navigation">
      <a routerLink = "main"  style="text-decoration:none; color:white;"><h5>
        <i class="material-icons" >home</i> Home</h5></a>
    </div>
    <div class="row navigation">
      <a routerLink = "users" style="text-decoration:none ; color:white;"><h5>
        <i class="material-icons" >perm_identity</i> Users</h5></a>
    </div>
    <div class="row navigation">
      <a routerLink = "workspace" style="text-decoration:none ; color:white;"><h5>
        <i class="material-icons">receipt</i> Workspace</h5></a>
    </div>
  </div>
</div>