<div class="container-fluid sideBar">
  <div class="col-lg">
    <div class="row navigation">
      <a routerLink = "main"  style="text-decoration:none; color:white;"><h5>Home</h5></a>
    </div>
    <div class="row navigation">
      <a routerLink = "users" style="text-decoration:none ; color:white;"><h5>Users</h5></a>
    </div>
    <div class="row navigation">
      <a routerLink = "workspace" style="text-decoration:none ; color:white;"><h5>Workspace</h5></a>
    </div>
  </div>
</div>